<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="od_path" value="$(find styx)../../../data/faster_rcnn_resnet50_lowproposals_coco_2018_01_28/" />
        <param name="od_model" value="/frozen_inference_graph.pb" />
        <param name="extract_tl" value="True" type="bool"/>
    </node>
</launch>
